@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap');
body{ font-family: 'Montserrat', sans-serif; }

.container {
  display: grid;
  grid-template-columns: 16% 1fr; /* 16% for nav, 1fr for headContent */
  height: 100vh;
}

.headContent {
  display: flex;
  flex-direction: column;
}

.headCont {
  width: 84vw;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.content {
  flex: 1;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 1045px) {
  .navCont {
      display:none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .headCont {
    width: 100vw;
    margin-left: 20px;
    margin-right: 20px;
  }
}