.friendContainer {
    border: 0.5px solid rgb(184, 184, 184);
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 90%; 
    max-width: 500px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
  }
  
  .profilepicCont {
    width: 100%;
    margin-bottom: 12px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }
  
  .userImage {
    border-radius: 16px;
    padding: 0 !important;
    object-fit: contain;
    max-height: 100%;
  }
  
  .friendInfo {
    width: 100%;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .add,
  .message {
    border: 0.5px solid;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .add {
    border-color: #faabab;
    background-color: #faabab;
  }
  
  .message {
    border-color: #bcdbf1;
    background-color: #bcdbf1;
  }
  
  /* Media query for smaller screens */
  @media (min-width: 768px) {
    .friendContainer {
      flex-direction: row;
    }
  
    .profilepicCont {
      width: 30%;
      margin-bottom: 0;
      margin-right: 12px;
    }
  
    .friendInfo {
      width: 70%;
    }
  }
  