.headCont {
    border-bottom: 1.5px solid #BBBBBB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#red {
    color: red;
    font-size: 1.2em;
}

.title {
    font-size: 2.05em;
    margin-left: 40px;
}

.user {
    display: flex;
    margin-left: auto;
    position: relative;
}

.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    image-rendering: optimizeSpeed;
    object-fit: cover;
    cursor: pointer;
}


.bars {
    display: none;
    font-size: 2em;
    margin-left: 10px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: -30px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: fit-content;
    /* display: none; */
}

.dropdown p {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown p:hover {
    background-color: #555;
}

@media (max-width: 1045px) {
    .bars {
        display: block;
    }
    .headCont {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 1.6em;
    }
    .userImage {
        width: 35px;
        height: 35px;
    }
}